.capitalone {
  .info-dot {
    background: $capitalone-color;
  }

  .img-title {
      font-family: Playfair Display;
      font-size: 12px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 5px;
  }

  .main-container {
    button {
      color: #FFF;
      background-color: $capitalone-color;
    }
  }
  hr {
    border-color: $capitalone-color;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .main-container {
      button {
        color: $capitalone-color;
        border-color: $capitalone-color;
        background-color: #FFF;
        &:hover {
          background-color: $capitalone-color;
          color: #FFF;
        }
      }
    }
    .non-carousel-row {
      .col-xs-10 {
        display: flex;
      }
      .non-slide-container {
        position: relative;
      }
      .non-slide-container:nth-child(odd) {
        padding-right: 10px;
      }
      .non-slide-container:nth-child(even) {
        padding-left: 10px;
      }
    }
  }
}
