.sam-image-carousel, .sam-text-carousel {
  margin-top: 60px;
  a.carousel-control {
    opacity: 0;
    width: 30%;
  }
  .carousel-inner .slide-title {
    font-family: 'Playfair Display';
    font-weight: 700;
  }
  .carousel-indicators {
    margin-top: 10px;
    margin-bottom: 0;
    position: static;
    bottom: 0;
    width: auto;
    left: auto;
    margin-left: auto;
    li {
      height: 8px;
      width: 8px;
      background-color: rgba(51, 51, 51, 0.3);
      &.active {
        margin: 1px;
        background-color: #323232;
      }
    }
  }
}
// do we need seperate classnames?
.sam-text-carousel {
  .carousel-inner .slide-title {
    font-size: 20px;
  }
  .slide-content {
    @extend p;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.sam-image-carousel {
  .carousel-inner .slide-title {
    text-align: center;
    font-size: 16px;
  }
  img {
    margin-top: 10px;
  }
  .slide-content {
    margin-top: 15px;
    font-family:'Futura PT';
    font-size: 11px;
    color: #565656;
  }
}

.sam-image-carousel + p {
  margin-top: 34px;
}
