$fabio-color: #4f1429;
$spore-color: #0e4073;
$ubergo-color: #36a7ff;
$home-color: #ff9b31;
$medium-up-alt-subtitles: 20px;
$nav-bar-height: 55px;
$p-size: 15px;
// the second largest margin between sections is 'big m'
$big-m: 80px;
$text-padding: 23px;
$text-padding-large: 40px;
// this class will be removed from any element it is on, on document load
.hide-until-load {
  display: none;
}
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: #191919;
  font-family: Futura PT;
}

p {
  font-size: $p-size;
  font-family: Futura PT;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: $text-padding;
  padding-right: $text-padding;
}

footer {
  font-size: 12px;
  a {
    color: #191919;
    text-decoration: underline;
  }
  margin-bottom: 20px;
  margin-top: $big-m;
  text-align: center;
}

.nav-bar-padding {
  margin-top: $nav-bar-height;
}

.big-m {
  margin-top: $big-m;
}


.persona-container {
  margin-top: 30px;
  img {
    height: 150px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .persona-caption {
    font-family: Playfair Display;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  ul {
    margin-top: 4px;
    li {
      margin-top: 16px;
    }
  }
}

.spore, .ubergo {
  .main-container {
    .view-prototypes-desktop {
      display: flex;
      justify-content: center;
      a:first-child {
        margin-right: 0;
      }
      a:first-child + a {
        margin-left: 90px;
      }
    }
  }
  .final-designs {
    // todo -- same as carousel captions?
    .caption {
      opacity: 0.4;
      font-family: Futura PT;
      font-size: 12px;
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    // there are so many of these that I didn't want to give each a classname
    .hoverable {
      cursor: pointer;
      position: relative;
      .text-overlay, .text {
        top: 0;
        bottom: 10px;
        left: 24px;
        right: 26px;
      }
      .text-overlay {
        position: absolute;
        background-color: #000;
        opacity: .7;
      }
      .text {
        position: absolute;
        color: #FFF;
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        font-size: 14px;
        padding-left: 29px;
        padding-right: 29px;
      }
    }
    .item {
      height: 500px;
      img {
        width: auto;
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    $margin-between-rows: 75px;
    margin-top: $big-m - $margin-between-rows;
    .row {
      margin-top: $margin-between-rows;
    }
    .col-xs-4 {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
.main-container {
  .similar-products {
    margin-top: 60px;
    .row + .image-subtitle {
      margin-top: 30px;
    }
    .image-subtitle + .row {
      margin-top: 75px;
    }
    .image-subtitle {
      text-align: left;
    }
  }

  header {
    margin-top: 90px;
    text-align: center;
    $hr-space: 12px;
    h2 {
      font-family: Playfair Display;
      font-size: 27px;
      line-height: 36px;
      margin: 0;
    }

    hr {
      width: 200px;
      margin-top: 0;
      margin-bottom: $hr-space;
    }

    h2 + hr {
      margin-top: $hr-space;
      margin-bottom: 0;
    }
  }
  margin-bottom: 60px;
  header + p {
    margin-top: 40px;
  }
  header + .p-row {
    p {
      margin-top: 40px;
    }
  }
  p {
    margin-top: 40px;
    &.m40 {
      margin-top: 40px;
    }
  }
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
  button {
    display: block;
    margin-top: $big-m;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 45px;
    border-radius: 100px;
    background-color: $fabio-color;
    color: #fff;
    font-weight: 600;
    border: none;
  }
  header + img, .comments, header + .img-container {
    margin-top: 60px;
  }
  .image-subtitle {
    margin-top: 15px;
    font-family:'Futura PT';
    font-size: 12px;
    color: #565656;
    text-align: center;
  }
  .sub-header {
    text-align: center;
    margin-top: 60px;
    h3 {
      font-size: $medium-up-alt-subtitles;
      font-family: Playfair Display;
      margin: 0;
    }
    hr {
      width: 150px;
      margin-bottom: 0;
      margin-top: 7px;
      opacity: .5;
    }
  }
  .m30 {
    margin-top: 30px;
  }

  .m50 {
    margin-top: 50px;
  }

  .desktop-and-mobile-comps {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .portfolio-page-links {
    text-align: center;
    a {
      &:hover {
        opacity: .5;
      }
      color: #191919;
    }
    span {
      margin-top: 20px;
      font-family: Playfair Display;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      position: relative;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 0;
      margin-right: auto;
      margin-left: auto;
      opacity: .5;
      width: 100px;
      &.spore {
        border-color: $spore-color;
      }
      &.uber-go {
        border-color: $ubergo-color;
      }
      &.fabio {
        border-color: $fabio-color;
      }
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .sub-header + .img-row {
      margin-top: $big-m;
    }
    .sub-header + .row p {
      margin-top: 30px;
    }
    .portfolio-page-links {
      position: relative;
      a:nth-child(2) .col-md-6 {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .desktop-and-mobile-comps {
      margin-top: $big-m;
    }

    .initial-designs {
      margin-top: $big-m;
      display: flex;
      justify-content: space-around;
      padding-right: 80px;
      padding-left: 80px;
      .non-slide-container {
        padding-right: 15px;
        padding-left: 15px;
        &:first-child {
          padding-left: 0;
        }
        &:nth-last-child(1) {
          padding-right: 0;
        }
      }
    }
    .text-non-slides {
      margin-top: $big-m;
      .col-xs-4 {
        padding-right: 25px;
        padding-left: 25px;
      }
      .slide-title {
        font-size: $medium-up-alt-subtitles;
        font-family: Playfair Display;
        font-weight: bold;
      }
      .slide-content {
        margin-top: 20px;
        font-size: $p-size;
      }
    }
    header {
      padding-top: 100px;
      margin-top: 130px - 100px;
      h2 {
        font-size: 33px;
        line-height: normal;
      }
      hr {
        width: 355px;
      }
    }
    .sub-header {
      margin-top: $big-m;
      hr {
        margin-top: 10px;
      }
    }
    header + img, header + .img-container {
      margin-top: 60px;
    }
    .view-prototypes-desktop {
      display: flex;
      justify-content: center;
      a:first-child {
        margin-right: 90px;
      }
    }
    button {
      width: 210px;
      height: 54px;
      font-size: 15px;
      line-height: 48px;
      color: $fabio-color;
      background-color: #FFF;
      border: 2px solid $fabio-color;
      &:hover {
        color: #FFF;
        background-color: $fabio-color;
      }
    }
    p {
      padding-right: $text-padding-large;
      padding-left: $text-padding-large;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .initial-designs {
      .non-slide-container {
        img {
          width: 425px;
        }
      }
    }
  }
}
