$fabio-color: #4f1429;

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: #191919;
  font-family: Futura PT;
}

p {
  font-size: 16px;
  font-family: Futura PT;
  font-weight: 400;
  margin-bottom: 0;
}


.nav-bar-padding {
  margin-top: 55px;
}


.main-container {
  header {
    margin-top: 90px;
    text-align: center;
    $hr-space: 15px;
    h2 {
      font-family: Playfair Display;
      font-size: 27px;
      line-height: 36px;
      margin: 0;
    }

    hr {
      width: 200px;
      border-color: $fabio-color;
      margin-top: 0;
      margin-bottom: $hr-space;
    }

    h2 + hr {
      margin-top: $hr-space;
      margin-bottom: 0;
    }
  }
  margin-bottom: 60px;
  header + p {
    margin-top: 40px;
  }
  header + .p-row {
    p {
      margin-top: 40px;
    }
  }
  p {
    margin-top: 60px;
  }
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
  }
  button {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 45px;
    border-radius: 100px;
    background-color: $fabio-color;
    color: #fff;
    font-weight: 600;
    border: none;
  }
  header + img, .comments {
    margin-top: 60px;
  }
  .image-subtitle {
    margin-top: 15px;
    font-family:'Futura PT';
    font-size: 12px;
    color: #565656;
    text-align: center;
  }
  .sub-header {
    text-align: center;
    margin-top: 60px;
    h3 {
      font-size: 22px;
      font-family: Playfair Display;
      margin: 0;
    }
    hr {
      border-color: $fabio-color;
      width: 150px;
      margin-bottom: 0;
      margin-top: 7px;
      opacity: .5;
    }
  }
  .desktop-and-mobile-comps {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .portfolio-page-links {
    text-align: center;
    span {
      margin-top: 30px;
      font-family: Playfair Display;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      position: relative;
    }
    hr {
      margin-top: 5px;
      margin-bottom: 0;
      margin-right: auto;
      margin-left: auto;
      opacity: .5;
      &.spore {
        border-color:#0e4073;
      }
      &.uber-go {
        border-color: #36a7ff;
      }
      &.fabio {
        border-color: $fabio-color;
      }
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .desktop-and-mobile-comps {
      margin-top: 150px;
    }
    .non-carousel-row {
      .desktop-non-slide-title {
        font-size: 16px;
        font-family: Playfair Display;
        font-weight: bold;
        margin-top: 105px;
        margin-bottom: 20px;
      }
      .col-xs-12 {
        display: flex;
      }
      .non-slide-container:nth-child(odd) {
        padding-right: 50px;
      }
      .non-slide-container:nth-child(even) {
        padding-left: 50px;
      }
    }

    .initial-designs {
      margin-top: 105px;
      display: flex;
      .non-slide-container {
        flex-grow: 1;
        // flex-basis: 400px;
        &:nth-child(2) {
          img {
            float: right;
          }
        }
        img {
          width: 350px;
        }
      }
    }
    .text-non-slides {
      margin-top: 105px;
      .slide-title {
        font-size: 22px;
        font-family: Playfair Display;
        font-weight: bold;
      }
      .slide-content {
        margin-top: 30px;
      }
    }
    header {
      margin-top: 175px;
      h2 {
        font-size: 40px;
        line-height: normal;
      }
      hr {
        width: 355px;
      }
    }
    .sub-header {
      margin-top: 105px;
      hr {
        margin-top: 10px;
      }
    }
    header + img, header + .img-container {
      margin-top: 105px;
    }
    .view-prototypes-desktop {
      display: flex;
      justify-content: center;
      a:first-child {
        margin-right: 90px;
      }
    }
    button {
      width: 210px;
      height: 54px;
      font-size: 15px;
      line-height: 48px;
      color: $fabio-color;
      background-color: #FFF;
      border: 2px solid $fabio-color;
      &:hover {
        color: #FFF;
        background-color: $fabio-color;
      }
    }
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .initial-designs {
      .non-slide-container {
        img {
          width: 425px;
        }
      }
    }
  }
}
