$fabio-color: #4f1429;
$spore-color: #0e4073;
$ubergo-color: #36a7ff;
$home-color: #ff9b31;
$capitalone-color: #019dd5;
$kiva-color: #63a541;
$medium-up-alt-subtitles: 24px;
$nav-bar-height: 45px;
$orange: #ee3a00;
$p-size: 18px;
$p-size-mobile: 16px;
// the largest margin between actual sections is x-big-m
$x-big-m: 120px;
$x-big-m-mobile: 104px;
$below-header: 64px;
$below-header-mobile: 40px;
// the second largest margin between sections is 'big m'
$big-m: 104px;
$big-m-mobile: 80px;
$medium-m: 56px;
$medium-m-mobile: 40px;
$lil-m: 40px;
$text-padding: 23px;
$text-padding-large: 40px;

.popover {
  font-family: 'Futura PT';
}

// this class will be removed from any element it is on, on document load
.hide-until-load {
  display: none;
}

p a {
  text-decoration: underline;
}

.about {
  footer {
    margin-top: $medium-m - 40px;
  }
  .about-hero {
    position: relative;
    .about-hero-content, .about-hero-mobile, img {
      padding-right: $text-padding;
      padding-left: $text-padding;
      font-family: Playfair Display;
      font-weight: 700;
      font-size: 30px;
    }
    .about-hero-content {
      color: #ffffff;
      text-shadow: 1px 2px 4px rgba(63, 63, 63, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      margin-left: 10%;
      margin-top: 15%;
    }
  }
  .container {
    position: relative;
  }
  .yellow-box {
    background-color: #ffe99b;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
  }
  .lil-m {
    margin-top: 24px;
  }
  @media (min-width: $screen-md-min) {
    .lil-m {
      margin-top: $lil-m;
    }
    .about-hero-content, .about-hero-mobile, img {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


.small-title {
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 6px;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  color: #191919;
  font-family: Futura PT;
}

p {
  font-size: $p-size-mobile;
  font-family: Futura PT;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: $text-padding;
  padding-right: $text-padding;
}

.p-row {
  margin-top: $lil-m;
  margin-bottom: $lil-m;
}

.p-row + .small-title {
  margin-top: $big-m-mobile;
}

.p-row + .img-container {
  margin-top: $medium-m;
}

// .img-container + .p-row {
//   margin-top: $big-m;
// }

.comps {
  .p-row + .img-container {
    margin-top: $big-m-mobile;
  }
}


footer {
  font-size: 12px;
  a {
    color: #191919;
    text-decoration: underline;
  }
  margin-bottom: 20px;
  // margin-top: $big-m;
  text-align: center;
}

.lil-m {
  margin-top: $lil-m;
}


.persona-container {
  img {
    height: 150px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .persona-caption {
    font-family: Playfair Display;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  ul {
    margin-top: 4px;
    li {
      margin-top: 16px;
    }
  }
}

.spore, .ubergo {
  .final-designs {
    // todo -- same as carousel captions?
    .caption {
      opacity: 0.4;
      font-family: Futura PT;
      font-size: 12px;
      color: #333333;
      text-align: center;
      margin-bottom: 20px;
    }
    // there are so many of these that I didn't want to give each a classname
    .hoverable {
      cursor: pointer;
      position: relative;
      .text-overlay, .text {
        top: 0;
        bottom: 10px;
        left: 24px;
        right: 26px;
      }
      .text-overlay {
        position: absolute;
        background-color: #000;
        opacity: .7;
      }
      .text {
        position: absolute;
        color: #FFF;
        display:-webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        font-size: 14px;
        padding-left: 29px;
        padding-right: 29px;
      }
    }
    .item {
      height: 500px;
      img {
        width: auto;
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    $margin-between-rows: 75px;
    // margin-top: $big-m - $margin-between-rows;
    .row {
      margin-top: $margin-between-rows;
    }
    .col-xs-4 {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}


a, a:hover, a:focus {
  color: #191919;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: $orange;
}

// this should hopefully only apply to 'introduction' headers that have smaller margins above them. all other headers should be x-big-m
.sam-hero + .main-container header:first-child {
  margin-top: 48px;
  margin-bottom: 48px;
}

.main-container {
  margin-bottom: 60px;
  .similar-products {
    .image-subtitle {
      margin-top: 30px;
    }
    .col-md-6:nth-child(2) {
      margin-top: 75px;
    }
    .row + .image-subtitle {
      margin-top: 30px;
    }
    .image-subtitle + .row {
      margin-top: 75px;
    }
    .image-subtitle {
      text-align: left;
    }
  }

  header {
    margin-top: $x-big-m-mobile;
    margin-bottom: $below-header-mobile;
    text-align: center;
    $hr-space: 12px;
    h2 {
      font-family: Playfair Display;
      font-size: 27px;
      line-height: 36px;
      margin: 0;
    }

    hr {
      width: 200px;
      margin-top: 0;
      margin-bottom: $hr-space;
    }

    h2 + hr {
      margin-top: $hr-space;
      margin-bottom: 0;
    }
  }

  .m40 {
    margin-top: 40px;
  }

  header + img, .comments {
    margin-top: 60px;
  }

  .image-subtitle, .long-image-subtitle {
    margin-top: 16px;
  }

  .image-subtitle {
    font-family:'Futura PT';
    font-size: 13px;
    text-align: center;
  }

  .sub-header {
    margin-top: $big-m-mobile;
    margin-bottom: $medium-m-mobile;
    text-align: center;
    h3 {
      font-size: $medium-up-alt-subtitles;
      font-family: Playfair Display;
      margin: 0;
    }
    hr {
      width: 150px;
      margin-bottom: 0;
      margin-top: 7px;
    }
  }

  header + .sub-header {
    margin-top: $below-header;
  }

  .m50 {
    margin-top: 50px;
  }

  .desktop-and-mobile-comps {
    display: flex;
    justify-content: space-between;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .similar-products {
      .col-md-6:first-child {
        padding-right: 45px;

      }
      .col-md-6:nth-child(2) {
        padding-left: 45px;
        margin-top: 0;
      }
    }
    .p-row + .small-title {
      margin-top: $big-m;
    }
    .comps {
      .p-row + .img-container {
        margin-top: $big-m;
      }
    }
    .small-title {
      margin-bottom: 16px;
    }
    .portfolio-page-links {
      position: relative;
      a:nth-child(2) .col-md-6 {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .initial-designs {
      display: flex;
      justify-content: space-around;
      padding-right: 80px;
      padding-left: 80px;
      .non-slide-container {
        padding-right: 15px;
        padding-left: 15px;
        &:first-child {
          padding-left: 0;
        }
        &:nth-last-child(1) {
          padding-right: 0;
        }
      }
    }
    .text-non-slides {
      margin-top: $big-m;
      .col-xs-4 {
        padding-right: 25px;
        padding-left: 25px;
      }
      .slide-title {
        font-size: $medium-up-alt-subtitles;
        font-family: Playfair Display;
        font-weight: bold;
      }
      .slide-content {
        margin-top: 20px;
        font-size: $p-size;
      }
    }
    header {
      margin-top: $x-big-m;
      margin-bottom: $below-header;
      h2 {
        font-size: 33px;
        line-height: normal;
      }
      hr {
        width: 355px;
      }
    }
    .sub-header {
      margin-top: $big-m;
      margin-bottom: $medium-m;
      hr {
        margin-top: 10px;
      }
    }
    p, .long-image-subtitle {
      padding-right: $text-padding-large;
      padding-left: $text-padding-large;
    }
    p {
      font-size: $p-size;
    }
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .initial-designs {
      .non-slide-container {
        img {
          width: 425px;
        }
      }
    }
  }
}

.portfolio-link-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  .portfolio-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    font-family: Playfair Display;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    h1 {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
    }
    .portfolio-link-img {
      padding: 48px;
      h1 {
        font-size: 24px;
        padding-top: 20px;
      }
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 18px;
      font-size: 14px;
      font-family: Futura PT;
      font-weight: 600;
    }
    &.c1 {
      background-color: #0087d5;
    }
    &.kiva {
      background-color: #63a541;
    }
    &.fvwines {
      background-color: #4f1429;
    }
    &.spore {
      background-color: #0e4073;
    }
    &.ubergo {
      background-color: #36a7ff;
    }
    &.resume {
      background-color: #f14729;
    }
  }
  @media (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    .portfolio-link {
      height: 250px;
      margin-bottom: 0;
      h1 {
        font-size: 30px;
        margin-bottom: 12px;
      }
      h3 {
        font-size: 24px;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
    .portfolio-link {
      height: 275px;
    }
  }
  @media (min-width: $screen-lg-min) {
      .portfolio-link {
        height: 300px;
        h1 {
          font-size: 32px;
        }
        h3 {
          font-size: 24px;
        }
      }
    }
}
