.home {

  h2.bio {
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
    margin-bottom: 0;
    margin-top: 60px;
  }

  .main-container .row p {
    margin-top: 45px;
  }

  hr {
    border-color: $home-color;
  }

  #spore {
    margin-top: 60px;
  }

  .motto {
    font-family: Futura PT;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.7px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 48px;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .motto {
      font-size: 28px;
    }
    #spore {
      margin-top: 0;
    }
  }
}