.kiva {
  .info-dot {
    background: $kiva-color;
  }

  hr {
    border-color: $kiva-color;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .non-carousel-row {
      .col-xs-10 {
        display: flex;
      }
      .non-slide-container {
        position: relative;
      }
      .non-slide-container:nth-child(odd) {
        padding-right: 10px;
      }
      .non-slide-container:nth-child(even) {
        padding-left: 10px;
      }
    }
  }

  /* Large devices 1200px and up */
  @media (min-width: $screen-lg-min) {

  }
}
