#panel .overlay.active {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

nav#menu {
  header {
    border-bottom: solid 0.5px #ffc422;
  }
  ol {
    padding-bottom: 30px;
  }
  .title-link-container {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    .title {
      display: inline;
      font-size: 14px;
      color: #151515;
      font-family: Futura PT;
      font-weight: 600;
    }
    img {
      display: inline;
      height: 10px;
      margin-top: 5px;
      margin-right: 25px;
      float: right;
      &.collapsed {
        display: none;
      }
      &.expanded {
        display: inline;
      }
    }
    &.collapsed {
      img.collapsed {
        display: inline;
      }
      img.expanded {
        display: none;
      }
    }
  }
  .sub-links {
    margin-left: 50px;
    a {
      font-size: 12px;
      display: block;
      font-family: Futura PT;
      color: #979797;
      margin-bottom: 25px;
    }
  }
}
nav#menu header {
  height: 57px;
}
nav#menu header, .nav-bar {
  text-align: center;
  a {
    font-family: Playfair Display;
    line-height: 57px;
    font-size: 18px;
    color: #191919;
  }
}

.nav-bar, .large-nav-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
}

.nav-bar {
  .small-nav-container {
    height: 57px;
  }
  top: -1px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: transform 300ms ease;
  &.open {
    transform: translate3d(256px, 0px, 0px);
  }
  img.linked-in {
    height: 23px;
    width: 23px;
  }
  .burger {
    margin-top: 20px;
    padding-left: 30px;
    div {
      margin-top: 3px;
      width: 20px;
      height: 2px;
      border-radius: 1.8px;
      background-color: #191919;
    }
  }
}

.nav-bar-padding {
  height: 57px;
}

.large-nav-container {
  height: $nav-bar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1px;
}

.large-nav-bar {
  position: relative;
  display: flex;
  div {
    display: flex;
    justify-content: space-between;
    &.page-links {
      .active {
        color: $orange;
        font-weight: 900;
      }
      a:first-child {
        padding-left: 8%;
      }
      flex: 1;
    }
    &#nav-title {
      flex: 2;
      .name-container {
        margin: auto;
      }
      .title-circle {
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: $orange;
        display: inline-block;
        margin: auto 7px;
        /* width and height can be anything, as long as they're equal */
      }
    }
    &#nav-contact-links {
      flex: 1;
      justify-content: flex-end;
      a:last-child {
        margin-right: 8%;
        margin-left: 23%;
      }
    }
  }
  a {
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #191919;
    &.img {
      display: flex;
      align-items: center;
      height: 18px;
      img {
        height: 12px;
      }
    }
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
