.nav-bar, .large-nav-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.5);
}

nav .active {
  color: $hover-color !important;
}

.nav-bar {
  text-align: center;
  .title-circle {
    margin: 4px 7px;
  }
  .name-container {
    margin: auto;
  }
  a {
    font-family: Playfair Display;
    line-height: $nav-bar-height;
    font-size: 18px;
    color: #191919;
  }
  #nav-title a {
    font-size: 16px;
  }
  .small-nav-container {
    height: $nav-bar-height;
  }
  top: -1px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  img.linked-in {
    height: 16px;
    width: 16px;
    margin-top: -4px;
  }
  .hideaway-nav {
    padding-top: 97px;
    padding-bottom: 240px;
    a {
      font-size: 24px;
      font-family: Futura PT;
      display: block;
      margin-bottom: 40px;
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.1px;
    }
  }
  .contact-links {
    padding-bottom: 30px;
    .title-circle {
      background-color: #333333;
    }
    a {
      font-family: Futura PT;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #191919;
      text-decoration: underline;
    }
  }
}

.nav-bar-padding {
  height: $nav-bar-height;
}

#nav-title a {
  font-family: Playfair Display;
  font-weight: 600;
  text-transform: none;
}

.large-nav-container {
  height: $nav-bar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1px;
}

.large-nav-bar {
  position: relative;
  display: flex;
  div {
    display: flex;
    justify-content: space-between;
    &.page-links {
      a:first-child {
        padding-left: 8%;
      }
      flex: 1;
    }
    &#nav-title {
      flex: 2;
      .name-container {
        margin: auto;
      }
      .title-circle {
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: $hover-color;
        display: inline-block;
        margin: auto 7px;
        /* width and height can be anything, as long as they're equal */
      }
    }
    &#nav-contact-links {
      flex: 1;
      justify-content: flex-end;
      a:last-child {
        margin-right: 8%;
        margin-left: 23%;
      }
    }
  }
  a {
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    &.img {
      display: flex;
      align-items: center;
      height: 18px;
      img {
        height: 12px;
      }
    }
  }
}

.title-circle {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: $hover-color;
  display: inline-block;
  margin: auto 7px;
}

.burger {
  img {
    height: 20px;
    float: left;
  }
  margin-top: 14px;
  padding-left: 30px;
  div {
    margin-top: 3px;
    width: 20px;
    height: 2px;
    border-radius: 1.8px;
    background-color: #191919;
  }
}

