#panel .overlay.active {
  opacity: .45;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

nav#menu header {
  border-bottom: solid 0.5px #ffc422;
}

nav#menu header, .nav-bar {
  height: 55px;
  text-align: center;
  a {
    font-family: Playfair Display;
    line-height: 57px;
    font-size: 18px;
    color: #191919;
  }
}

.nav-bar {
  top: -1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 1000;
  transition: transform 300ms ease;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(97,97,97,0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(97,97,97,0.5);
  box-shadow: 1px 1px 2px 0px rgba(97,97,97,0.5);
  &.open {
    transform: translate3d(256px, 0px, 0px);
  }

  .burger {
    margin-top: 20px;
    padding-left: 30px;
    div {
      margin-top: 3px;
      width: 20px;
      height: 2px;
      border-radius: 1.8px;
      background-color: #191919;
    }
  }
  img.linked-in {
    height: 23px;
    width: 23px;
  }
  ul.list-unstyled.links {
    text-align: left;
    li {
      display: inline-block;
      line-height: 55px;
      margin-right: 105px;
    }
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
