.fabio {
  .sam-hero .hero-bg {
    background-image: radial-gradient(375px circle at 50% 31%, #f2b9cd, #4f1429);
  }
}
.spore {
  .sam-hero .hero-bg {
    background-image: radial-gradient(325px circle at 62% 49%, #a7d2ff, #0e4073);
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fabio .sam-hero {
    .hero-bg {
      background-image: radial-gradient(450px circle at 60% 41%, #f2b9cd, #4f1429);
    }
  }
}
@media (min-width: 1200px) {
  .fabio .sam-hero {
    .hero-bg {
      background-image: radial-gradient(650px circle at 60% 41%, #f2b9cd, #4f1429);
    }
  }
}
.sam-hero {
  .hero-bg {
    padding-top: 130px;
    padding-bottom: 20px;
    .img-container {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  .hero-img {
    float: right;
  }
  .mobile-title {
    margin-top: 30px;
    div {
      line-height: 47px;
      text-align: center;
      font-family: 'Playfair Display';
      font-weight: 700;
      font-size: 35px;
      color: #ffffff;
    }
  }
  .sub-title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Futura PT';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
  }
  .caret-container {
    margin-right: auto;
    margin-left: auto;
    width: 24px;
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
    .hero-bg {
      padding-top: 155px;
      padding-bottom: 195px;
    }
    // TODO refactor away the name mobile title, its not just for mobile
    .mobile-title, .sub-title {
      margin-left: 20%;
    }
    .mobile-title {
      margin-top: 0;
      div {
        font-size: 60px;
        line-height: 90px;
        text-align: left;
      }
    }
    .sub-title {
      font-size: 30px;
      text-align: left;
    }
  }
}