
.home {
  .homepage-hero {
    .hero-bg-img {
      background: url(/images/home/homepage-background.png) no-repeat center 97%; 
      background-size: cover;
      height: 615px;
      padding-top: 30px;
      img.logo {
        height: 115px;
        width: 115px;
        margin-right: auto;
        margin-left: auto;
        display: block;
      }
      h1 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        font-family: Playfair Display;
      }
      h2 {
        font-family: Futura PT;
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0;
      }
      h3 {
        margin-top: 40px;
        margin-bottom: 0;
        font-family: Futura PT;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        a {
          position: relative;
          color: #191919;
          &:after {
            content:'';
            position:absolute;
            left:0;
            right:0;
            bottom: 3px;
            border-bottom: 2px solid #191919;
          }
        }
        &#contact {
          margin-top: 25px;
        }
      }
      .caret-container {
        margin-right: auto;
        margin-left: auto;
        width: 24px;
        margin-top: 165px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home {
    .homepage-hero .hero-bg-img {
      height: 648px;
    }
    .portfolio-page-links {
      #wines {
        .caption {
          margin-top: 25px;
        }
      }
      #spore {
        margin-top: 0;
        position: static;
      }
    }
    .main-container header {
      margin-top: 150px;
    }
  }
}

.fabio {
  .sam-hero .hero-bg {
    background-image: radial-gradient(375px circle at 50% 31%, #f2b9cd, #4f1429);
  }
}
.spore {
  .sam-hero .hero-bg {
    background-image: radial-gradient(325px circle at 62% 49%, #a7d2ff, #0e4073);
  }
}

.ubergo {
  .sam-hero .hero-bg {
    background-image: radial-gradient(325px circle at 62% 49%, #ffffff, #36a7ff);
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fabio .sam-hero {
    .hero-bg {
      background-image: radial-gradient(450px circle at 60% 41%, #f2b9cd, #4f1429);
    }
  }
  .spore .sam-hero {
    .hero-bg {
      background-image: radial-gradient(450px circle at 60% 41%, #a7d2ff, #0e4073);
    }
    .title-container {
      height: 400px;
      position: relative;
      .title-block {
        position: absolute;
        top: 50%;
        height: 152px;
        margin-top: -76px;
      }
    }
  }
  .ubergo {
    .sam-hero .hero-bg {
      background-image: radial-gradient(325px circle at 62% 49%, #ffffff, #36a7ff);    
    }
    .title-container {
      height: 400px;
      position: relative;
      .title-block {
        position: absolute;
        top: 50%;
        height: 152px;
        margin-top: -76px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .fabio .sam-hero {
    .hero-bg {
      background-image: radial-gradient(650px circle at 60% 41%, #f2b9cd, #4f1429);
    }
  }
  .spore .sam-hero {
    .hero-bg {
      background-image: radial-gradient(650px circle at 60% 41%, #a7d2ff, #0e4073);
    }
  }
}

.sam-hero {
  .hero-bg {
    padding-top: 130px;
    padding-bottom: 20px;
    .img-container {
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  .hero-img {
    float: right;
  }
  .mobile-title {
    margin-top: 30px;
    div {
      line-height: 47px;
      text-align: center;
      font-family: 'Playfair Display';
      font-weight: 700;
      font-size: 35px;
      color: #ffffff;
    }
  }
  .sub-title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Futura PT';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
  }
  .caret-container {
    margin-right: auto;
    margin-left: auto;
    width: 24px;
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
    .hero-bg {
      padding-top: 155px;
      padding-bottom: 195px;
    }
    // TODO refactor away the name mobile title, its not just for mobile
    .mobile-title, .sub-title {
      margin-left: 20%;
    }
    .mobile-title {
      margin-top: 0;
      div {
        font-size: 60px;
        line-height: 90px;
        text-align: left;
      }
    }
    .sub-title {
      font-size: 30px;
      text-align: left;
    }
  }
}