.spore {
  .iterations {
    .item {
      height: 420px;
      img {
        width: auto;
        max-height: 420px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .final-designs {
    .item {
      height: 500px;
      img {
        width: auto;
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}