.spore, .ubergo {
  .iterations {
    .item {
      height: 420px;
      img {
        width: auto;
        max-height: 420px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .final-designs {
    .item {
      height: 500px;
      img {
        width: auto;
        max-height: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .logos {
    .item {
      height: 220px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-height: 200px;
      }
    }
  }
  #ubergo-style-tiles {
    .item {
      height: 550px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-height: 510px;
      }
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .logos {
      margin-top: 60px;
      .item {
        height: 250px;
      }
    }
  }
}
