.spore {
  .info-dot {
    background: $spore-color;
  }
  .iterations {
    .item {
      height: 420px;
      img {
        width: auto;
        max-height: 420px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .main-container {
    button {
      color: #FFF;
      background-color: $spore-color;
    }
    .view-prototypes-desktop {
      button {
        color: $spore-color;
        border-color: $spore-color;
      }
    }
  }
  .ux-images {
    .col-xs-4 {
      padding-right: 25px;
      padding-left: 25px;
    }
    .col-xs-4:first-child {
      padding-left: 15px;
    }
    .col-xs-4:nth-child(3) {
      padding-right: 15px;
    }
  }
  hr {
    border-color: $spore-color;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    #spore-style-tile-carousel {
      #style-tile-organic #organic-info-dot-1 {
        top: 100px;
        right: 100px;
      }
      #style-tile-organic #organic-info-dot-2 {
        top: 200px;
        right: 200px;
      }
      #style-tile-organic #organic-info-dot-3 {
        top: 300px;
        right: 300px;
      }
      #style-tile-organic #organic-info-dot-4 {
        top: 400px;
        right: 400px;
      }
      #style-tile-modern #modern-info-dot-1 {
        top: 100px;
        right: 100px;
      }
      #style-tile-modern #modern-info-dot-2 {
        top: 200px;
        right: 200px;
      }
      #style-tile-modern #modern-info-dot-3 {
        top: 300px;
        right: 300px;
      }
      #style-tile-modern #modern-info-dot-4 {
        top: 400px;
        right: 400px;
      }
      #style-tile-playful #playful-info-dot-1 {
        top: 100px;
        right: 100px;
      }
      #style-tile-playful #playful-info-dot-2 {
        top: 200px;
        right: 200px;
      }
      #style-tile-playful #playful-info-dot-3 {
        top: 300px;
        right: 300px;
      }
      #style-tile-playful #playful-info-dot-4 {
        top: 400px;
        right: 400px;
      }
    }
    .initial-designs {
      .non-slide-container {
        position: relative;
      }
      #initial-design-1-info-dot-1 {
        top: 0px;
        right: 10px;
      }
      #initial-design-1-info-dot-2 {
        top: 100px;
        right: 100px;
      }
      #initial-design-1-info-dot-3 {
        top: 10px;
        right: 10px;
      }
      #initial-design-1-info-dot-4 {
        top: 10px;
        right: 10px;
      }
      #initial-design-1-info-dot-5 {
        top: 10px;
        right: 10px;
      }
      #initial-design-1-info-dot-6 {
        top: 10px;
        right: 10px;
      }
      #initial-design-2-info-dot-1 {
        top: 10px;
        right: 10px;
      }
      #initial-design-2-info-dot-2 {
        top: 10px;
        right: 10px;
      }
      #initial-design-2-info-dot-3 {
        top: 10px;
        right: 10px;
      }
      #initial-design-2-info-dot-4 {
        top: 10px;
        right: 10px;
      }
      #initial-design-2-info-dot-5 {
        top: 10px;
        right: 10px;
      }
    }


    .main-container {
      button {
        color: $spore-color;
        border-color: $spore-color;
        background-color: #FFF;
        &:hover {
          background-color: $spore-color;
          color: #FFF;
        }
      }
    }
  }
}
