.ubergo {
  .info-dot {
    background: $ubergo-color;
    display: none;
  }
  #ubergo-style-tiles {
    .item {
      height: 350px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-height: 310px;
      }
    }
  }
  .logos {
    .item {
      height: 220px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-height: 200px;
        margin: 0;
      }
    }
  }
  .sub-header + .row p {
    margin-top: 30px;
  }
  header + .row p {
    margin-top: 30px;
  }
  hr {
    border-color: $ubergo-color;
  }
  .main-container {
    button {
      color: #FFF;
      background-color: $ubergo-color;
    }
  }
  .similar-products {
    .image-subtitle {
      margin-top: 30px;
    }
    .col-md-6:nth-child(2) {
      margin-top: 75px;
    }
  }
  .future-considerations {
    .col-xs-4 {
      img {
        max-height: 400px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .ux-images {
    margin-top: 75px;
    .col-xs-4 {
      padding-right: 20px;
      padding-left: 20px;
      position: relative;
      div {
        position: absolute;
        font-size: 30px;
        top: 50%;
        margin-top: -15px;
        right: -10px;
        color: $ubergo-color;
        font-family: Playfair Display;
      }
    }
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .info-dot {
      display: block;
    }
    #ubergo-style-tiles {
      .item {
        height: 550px;
        img {
          max-height: 510px;
        }
      }
      #contemporary-info-dot-1 {
        top: 275px;
        right: 580px;
      }
      #contemporary-info-dot-2 {
        top: 450px;
        right: 550px;
      }
      #contemporary-info-dot-3 {
        top: 130px;
        right: 300px;
      }
      #contemporary-info-dot-4 {
        top: 300px;
        right: 250px;
      }
      #spirited-info-dot-1 {
        top: 250px;
        right: 620px;
      }
      #spirited-info-dot-2 {
        top: 70px;
        right: 450px;
      }
      #spirited-info-dot-3 {
        top: 280px;
        right: 290px;
      }
      #hip-info-dot-1 {
        top: 125px;
        right: 625px;
      }
      #hip-info-dot-2 {
        top: 390px;
        right: 510px;
      }
      #hip-info-dot-3 {
        top: 180px;
        right: 190px;
      }
    }
    .ux-images {
      .col-xs-4 {
        padding-right: 40px;
        padding-left: 40px;
        div {
          font-size: 44px;
          margin-top: -22px;
        }
      }
    }
    .logos {
      margin-top: 60px;
    }
    .similar-products {
      margin-top: $big-m;
      .col-md-6:first-child {
        padding-right: 45px;

      }
      .col-md-6:nth-child(2) {
        padding-left: 45px;
      }
    }
    .persona-container {
      display: flex;
      $persona-container-height: 200px;
      img {
        height: $persona-container-height;
      }
      .text-container {
        height: $persona-container-height;
        margin-left: 50px;
        .persona-caption {
          margin-top: 16px;
          text-align: left;
          margin-left: 23px;
        }
        ul {
          margin-bottom: 0;
          padding-top: 10px;
        }
        li {
          margin-top: 7px;
        }
      }
    }
    header + .row p {
      margin-top: 40px;
    }
    .main-container {
      button {
        color: $ubergo-color;
        border-color: $ubergo-color;
        background-color: #FFF;
        &:hover {
          background-color: $ubergo-color;
          color: #FFF;
        }
      }
    }
    .similar-products {
      .col-md-6:nth-child(2) {
        margin-top: 15px;
      }
    }
  }
    /* Large devices 1200px and up */
  @media (min-width: $screen-lg-min) {
    #ubergo-style-tiles {
      #contemporary-info-dot-1 {
        top: 275px;
        right: 580px;
      }
      #contemporary-info-dot-2 {
        top: 450px;
        right: 550px;
      }
      #contemporary-info-dot-3 {
        top: 130px;
        right: 300px;
      }
      #contemporary-info-dot-4 {
        top: 300px;
        right: 250px;
      }
      #spirited-info-dot-1 {
        top: 250px;
        right: 620px;
      }
      #spirited-info-dot-2 {
        top: 70px;
        right: 450px;
      }
      #spirited-info-dot-3 {
        top: 280px;
        right: 290px;
      }
      #hip-info-dot-1 {
        top: 125px;
        right: 625px;
      }
      #hip-info-dot-2 {
        top: 390px;
        right: 510px;
      }
      #hip-info-dot-3 {
        top: 180px;
        right: 190px;
      }
    }
  }
}