<footer class="container">
  &copy; 2018 Samantha King &bull; <a href="http://www.linkedin.com/in/hellosamking">LinkedIn</a> &bull; <a href="mailto:hellosamking@gmail.com">hellosamking@gmail.com</a>
</footer>