<div class="sub-header jump-to-sub-header">
  <h3>Jump to:</h3>
  <hr>
</div>
<div class="row">
  <div class="jump-to col-md-10 col-md-offset-1 col-xs-12">
    <% sections.forEach(function(section) { %>
      <a href="<%= section.link %>">
        <%= section.name %>
      </a>
    <% }) %>
  </div>
</div>