<%- include(process.cwd() + '/app/partials/section-sub-header', {headline: 'Jump to:'}) %>
<div class="row">
  <div class="jump-to col-md-8 col-md-offset-2 col-xs-12">
    <% sections.forEach(function(section) { %>
      <a href="<%= section.link %>">
        <%= section.name %>
      </a>
    <% }) %>
  </div>
</div>