<nav class="nav-bar">
  <div class="small-nav-container container hidden-md hidden-lg">
    <div class="row">
      <div class="burger col-xs-2">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <a href="/" class="col-xs-8">
        Samantha King
      </a>
      <a class="col-xs-2" href="http://www.linkedin.com/in/hellosamking">
        <img class="linked-in" src="/images/nav/desktop-header-linkedin-black.png" alt="LinkedIn link">
      </a>
    </div>
  </div>
</nav>
<div class="hidden-md hidden-lg nav-bar-padding"></div>
<div class="hidden-xs hidden-sm large-nav-container">
  <div class="container large-nav-bar">
    <div class="page-links">
    <% if (locals.activePage === 'work') { %>
      <a href="/" class="active">
    <% } else { %>
      <a href="/">
    <% } %>
        Work
      </a>
    <% if (locals.activePage === 'about') { %>
      <a href="/about" class="active">
    <% } else { %>
      <a href="/about">
    <% } %>
        About
      </a>
    <% if (locals.activePage === 'resume') { %>
      <a href="/resume" class="active">
    <% } else { %>
      <a href="/resume">
    <% } %>
        Resume
      </a>
    </div>
    <div id="nav-title">
      <div class="name-container">
        <div class="title-circle"></div>
        <a href="/">
          Samantha King
        </a>
        <div class="title-circle"></div>
      </div>
    </div>
    <div id="nav-contact-links">
      <a href="mailto:hellosamking@gmail.com" class="img">
        <img src="/images/nav/email-icon.png" alt="EMail link">
      </a>
      <a href="http://www.linkedin.com/in/hellosamking" class="img">
        <img src="/images/nav/linkedin-icon.png" alt="LinkedIn link">
      </a>
    </div>
  </div>
</div>