<nav id="menu">
  <header>
    <a href="/">
      Samantha King
    </a>
  </header>
  <ol class="list-unstyled hide-until-load">
    <li>
      <div class="title-link-container collapsed" data-toggle="collapse" href="#collapse-wine">
        <div class="title">
          FABIO VIVIANI WINES
        </div>
        <img class="img-responsive collapsed" src="/images/nav/mobile-hamburger-collapsed-caret.png">
        <img class="img-responsive expanded" src="/images/nav/mobile-hamburger-expanded-caret.png">
      </div>
      <div class="sub-links collapse" id="collapse-wine">
        <a href="/fvwines/#introduction">
          Introduction
        </a>
        <a href="/fvwines/#defining-the-challenge">
          Defining the Challenge
        </a>
        <a href="/fvwines/#exploring-the-wine-and-food-space">
          Exploring the Wine & Food Space
        </a>
        <a href="/fvwines/#exploring-the-existing-site">
          Exploring the Existing Site
        </a>
        <a href="/fvwines/#crafting-visual-direction">
          Crafting Visual Direction
        </a>
        <a href="/fvwines/#initial-designs-and-testing">
          Initial Designs and Testing
        </a>
        <a href="/fvwines/#final-designs">
          Final Designs
        </a>
        <a href="/fvwines/#style-guide">
          Style Guide
        </a>
        <a href="/fvwines/#conclusion">
          Conclusion
        </a>
      </div>
    </li>
    <li>
      <div class="title-link-container collapsed" data-toggle="collapse" href="#collapse-spore">
        <div class="title">
          SPORE
        </div>
        <img class="img-responsive collapsed" src="/images/nav/mobile-hamburger-collapsed-caret.png">
        <img class="img-responsive expanded" src="/images/nav/mobile-hamburger-expanded-caret.png">
      </div>
      <div class="sub-links collapse" id="collapse-spore">
        <a href="/spore/#introduction">
          Introduction
        </a>
        <a href="/spore/#defining-the-challenge">
          Defining the Challenge
        </a>
        <a href="/spore/#digging-into-the-ux">
          Digging into the UX
        </a>
        <a href="/spore/#exploring-similar-products">
          Exploring Similar Products
        </a>
        <a href="/spore/#creative-exploration">
          Creative Exploration
        </a>
        <a href="/spore/#iterations-and-testing">
          Iterations and Testing
        </a>
        <a href="/spore/#final-designs">
          Final Designs
        </a>
        <a href="/spore/#style-guide">
          Style Guide
        </a>
        <a href="/spore/#conclusion">
          Conclusion
        </a>
      </div>
    </li>
    <li>
      <div class="title-link-container collapsed" data-toggle="collapse" href="#collapse-ubergo">
        <div class="title">
          UBERGO
        </div>
        <img class="img-responsive collapsed" src="/images/nav/mobile-hamburger-collapsed-caret.png">
        <img class="img-responsive expanded" src="/images/nav/mobile-hamburger-expanded-caret.png">
      </div>
      <div class="sub-links collapse" id="collapse-ubergo">
        <a href="/ubergo/#introduction">
          Introduction
        </a>
        <a href="/ubergo/#digging-into-the-ux">
          Digging into the UX
        </a>
        <a href="/ubergo/#exploring-the-car-sharing-space">
          Exploring the Car Sharing Space
        </a>
        <a href="/ubergo/#design-principles">
          Design Principles
        </a>
        <a href="/ubergo/#creative-exploration">
          Creative Exploration
        </a>
        <a href="/ubergo/#final-designs">
          Final Designs
        </a>
        <a href="/ubergo/#style-guide">
          Style Guide
        </a>
        <a href="/ubergo/#conclusion">
          Conclusion
        </a>
      </div>
    </li>
    <li>
      <div class="title-link-container collapsed" data-toggle="collapse" href="#collapse-contact">
        <div class="title">
          CONTACT
        </div>
        <img class="img-responsive collapsed" src="/images/nav/mobile-hamburger-collapsed-caret.png">
        <img class="img-responsive expanded" src="/images/nav/mobile-hamburger-expanded-caret.png">
      </div>
      <div class="sub-links collapse" id="collapse-contact">
        <a href="http://www.linkedin.com/in/hellosamking">
          LinkedIn
        </a>
        <a href="mailto:hellosamking@gmail.com">
          Email
        </a>
      </div>
    </li>
  </ol>
</nav>
<nav class="nav-bar">
  <div class="container hidden-md hidden-lg">
    <div class="row">
      <div class="burger col-xs-2">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <a href="/" class="col-xs-8">
        Samantha King
      </a>
      <a class="col-xs-2" href="http://www.linkedin.com/in/hellosamking">
        <img class="linked-in" src="/images/nav/desktop-header-linkedin-black.png" alt="LinkedIn link">
      </a>
    </div>
  </div>
  <div class="hidden-xs hidden-sm">
    <div class="container">
      <ul class="list-unstyled links">
        <li class="title">
          <a href="/">
            <img class="img-responsive" src="/images/nav/grapefruit-header.png" />
            <span>
              Samantha King
            </span>
          </a>
        </li>
        <li class="dropdown">
          <div data-toggle="dropdown" id="popup-wine-desktop">
            <span class="title">
              FABIO VIVIANI WINES
            </span>
            <img class="collapsed caret-img" src="/images/nav/mobile-hamburger-collapsed-caret.png">
            <img class="expanded caret-img" src="/images/nav/mobile-hamburger-expanded-caret.png">
          </div>
          <div class="dropdown-menu">
            <a href="/fvwines/#introduction">
              Introduction
            </a>
            <a href="/fvwines/#defining-the-challenge">
              Defining the Challenge
            </a>
            <a href="/fvwines/#exploring-the-wine-and-food-space">
              Exploring the Wine & Food Space
            </a>
            <a href="/fvwines/#exploring-the-existing-site">
              Exploring the Existing Site
            </a>
            <a href="/fvwines/#crafting-visual-direction">
              Crafting Visual Direction
            </a>
            <a href="/fvwines/#initial-designs-and-testing">
              Initial Designs and Testing
            </a>
            <a href="/fvwines/#final-designs">
              Final Designs
            </a>
            <a href="/fvwines/#style-guide">
              Style Guide
            </a>
            <a href="/fvwines/#conclusion">
              Conclusion
            </a>
          </div>
        </li>
        <li class="dropdown">
          <div data-toggle="dropdown" id="popup-spore-desktop">
            <span class="title">
              SPORE
            </span>
            <img class="collapsed caret-img" src="/images/nav/mobile-hamburger-collapsed-caret.png">
            <img class="expanded caret-img" src="/images/nav/mobile-hamburger-expanded-caret.png">
          </div>
          <div class="dropdown-menu">
            <a href="/spore/#introduction">
              Introduction
            </a>
            <a href="/spore/#defining-the-challenge">
              Defining the Challenge
            </a>
            <a href="/spore/#digging-into-the-ux">
              Digging into the UX
            </a>
            <a href="/spore/#exploring-similar-products">
              Exploring Similar Products
            </a>
            <a href="/spore/#creative-exploration">
              Creative Exploration
            </a>
            <a href="/spore/#iterations-and-testing">
              Iterations and Testing
            </a>
            <a href="/spore/#final-designs">
              Final Designs
            </a>
            <a href="/spore/#style-guide">
              Style Guide
            </a>
            <a href="/spore/#conclusion">
              Conclusion
            </a>
          </div>
        </li>
        <li class="dropdown">
          <div data-toggle="dropdown" id="popup-ubergo-desktop">
            <span class="title">
              UBERGO
            </span>
            <img class="collapsed caret-img" src="/images/nav/mobile-hamburger-collapsed-caret.png">
            <img class="expanded caret-img" src="/images/nav/mobile-hamburger-expanded-caret.png">
          </div>
          <div class="dropdown-menu">
            <a href="/ubergo/#introduction">
              Introduction
            </a>
            <a href="/ubergo/#digging-into-the-ux">
              Digging into the UX
            </a>
            <a href="/ubergo/#exploring-the-car-sharing-space">
              Exploring the Car Sharing Space
            </a>
            <a href="/ubergo/#design-principles">
              Design Principles
            </a>
            <a href="/ubergo/#creative-exploration">
              Creative Exploration
            </a>
            <a href="/ubergo/#final-designs">
              Final Designs
            </a>
            <a href="/ubergo/#style-guide">
              Style Guide
            </a>
            <a href="/ubergo/#conclusion">
              Conclusion
            </a>
          </div>
        </li>
      </ul>
      <ul class="contact-links list-unstyled">
        <li>
          <a href="http://www.linkedin.com/in/hellosamking">
            <img src="/images/nav/desktop-header-linkedin-black.png">
          </a>
        </li>
        <li>
          <a href="mailto:hellosamking@gmail.com">
            <img src="/images/nav/desktop-header-mail-black.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>