<div class="portfolio-link-grid">
<% order.forEach(function(link, i) { %>
  <% if (link === 'capitalone') { %>
  <% if (link === locals.mobileDingleBerry) { %>
    <a href="/capitalone" class="portfolio-link js-hoverable c1 hidden-md hidden-lg">
  <% } else { %>
    <a href="/capitalone" class="portfolio-link js-hoverable c1">
  <% } %>
    <div class="portfolio-link-text">
      <h1>Capital One</h1>
      <h3>Visual Design</h3>
    </div>
    <div class="portfolio-link-img hide">
      <img class="img-responsive" src="/images/Homepage-hover-assets/Cap1-hero-images.png">
      <h1>Capital One</h1>
    </div>
  </a>
  <% } %>
  <% if (link === 'kiva') { %>
  <% if (link === locals.mobileDingleBerry) { %>
    <a href="/kiva" class="portfolio-link js-hoverable kiva hidden-md hidden-lg">
  <% } else { %>
    <a href="/kiva" class="portfolio-link js-hoverable kiva">
  <% } %>
    <div class="portfolio-link-text">
      <h1>Kiva</h1>
      <h3>UX Design &<br class="hidden-md hidden-lg"> Research</h3>
    </div>
    <div class="portfolio-link-img hide">
      <img class="img-responsive" src="/images/Homepage-hover-assets/Kiva-hero-images.png">
      <h1>Kiva</h1>
    </div>
  </a>
  <% } %>
  <% if (link === 'fvwines') { %>
  <% if (link === locals.mobileDingleBerry) { %>
    <a href="/fvwines" class="portfolio-link js-hoverable fvwines hidden-md hidden-lg">
  <% } else { %>
    <a href="/fvwines" class="portfolio-link js-hoverable fvwines">
  <% } %>
    <div class="portfolio-link-text">
      <h1>FV Wines</h1>
      <h3>UI & UX Design</h3>
    </div>
    <div class="portfolio-link-img hide">
      <img class="img-responsive" src="/images/Homepage-hover-assets/FVWines-Desktop-Mobile.png">
      <h1>FV Wines</h1>
    </div>
  </a>
  <% } %>
  <% if (link === 'spore') { %>
  <% if (link === locals.mobileDingleBerry) { %>
    <a href="/spore" class="portfolio-link js-hoverable spore hidden-md hidden-lg">
  <% } else { %>
    <a href="/spore" class="portfolio-link js-hoverable spore">
  <% } %>
    <div class="portfolio-link-text">
      <h1>Spore</h1>
      <h3>UI & UX Design</h3>
    </div>
    <div class="portfolio-link-img hide">
      <img class="img-responsive" src="/images/Homepage-hover-assets/Spore-Phones.png">
      <h1>Spore</h1>
    </div>
  </a>
  <% } %>
  <% if (link === 'ubergo') { %>
  <% if (link === locals.mobileDingleBerry) { %>
    <a href="/ubergo" class="portfolio-link js-hoverable ubergo hidden-md hidden-lg">
  <% } else { %>
    <a href="/ubergo" class="portfolio-link js-hoverable ubergo">
  <% } %>
    <div class="portfolio-link-text">
      <h1>UberGo</h1>
      <h3>UI Design &<br class="hidden-md hidden-lg"> Branding</h3>
    </div>
    <div class="portfolio-link-img hide">
      <img class="img-responsive" src="/images/Homepage-hover-assets/UberGo-Phones-&-Laptop.png">
      <h1>UberGo</h1>
    </div>
  </a>
  <% } %>
  <% if (link === 'resume') { %>
  <a href="/images/resume/Samantha-King-Resume.pdf" class="portfolio-link js-hoverable resume">
    <h1>Resume</h1>
  </a>
  <% } %>
<% }) %>
</div>