<div class="container sam-hero" id="introduction">
  <div class="hero-bg">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12 col-md-8 hero-img">
            <div class="img-container">
              <img class="img-responsive" src='<%= heroSrc %>'>
            </div>
          </div>
          <div class="title-container">
            <div class="col-xs-12 col-md-4 title-block">
              <div class="mobile-title">
                <div><%= title %></div>
              </div>
              <div class="sub-title"><%= subTitle %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>