<!doctype html>
<html class="no-js" lang="">
  <%- include(process.cwd() + '/app/partials/head', {title: 'Sam King Designs - Fabio Viviani Wines'}) %>
  <body class="fabio">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <%- include(process.cwd() + '/app/partials/nav') %>
    <main id="panel">
      <div class="container sam-hero" id="introduction">
        <div class="hero-bg">
          <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-8 hero-img">
                  <div class="img-container">
                    <img class="img-responsive" src='/images/mobile-hero/DesktopMobileCopy2.png'>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4 title-block">
                  <div class="mobile-title">
                    <div>Fabio</div>
                    <div>Viviani</div>
                    <div>Wines</div>
                  </div>
                  <div class="sub-title"> UI & UX Design </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container sam-icons-with-info">
        <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0 client">
                <div class="img-container">
                  <img class="img-responsive" src="/images/case-study-icons/Hands-heart-Web.png" />
                </div>
                <div class="title">
                  Client
                </div>
                <div class="sub-title">
                  Fabio Viviani Wines
                </div>
              </div>
              <div class="col-xs-5 col-sm-3 role">
                <div class="img-container">
                  <img class="img-responsive" src="/images/case-study-icons/Crystal-Ball-Web.png" />
                </div>
                <div class="title">
                  Role
                </div>
                <div class="sub-title">
                  UI & UX Designer
                </div>
              </div>
              <div class="col-xs-5 col-xs-offset-1 col-sm-offset-0 col-sm-3 tools">
                <div class="img-container">
                  <img class="img-responsive" src="/images/case-study-icons/Paper-&-Pencils-Web.png" />
                </div>
                <div class="title">
                  Tools
                </div>
                <div class="sub-title">
                  Sketch, InVision
                </div>
              </div>
              <div class="col-xs-5 col-sm-3 timeline">
                <div class="img-container">
                  <img class="img-responsive" src="/images/case-study-icons/Calendar-Web.png" />
                </div>
                <div class="title">
                  Timeline
                </div>
                <div class="sub-title">
                  3 Weeks
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="container main-container">
        <header>
          <hr>
          <h2>Introduction</h2>
          <hr>
        </header>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Fabio Viviani Wines is a company headed by Fabio Viviani, a restaurant owner and celebrity chef known for his appearances on Top Chef. FVWines approached us to redesign their website in order to leverage Fabio Viviani's celebrity status to both promote his wines and promote wine pairing with his recipes.
              <br>
              <br>
              Our challenge was to redesign FVWines' responsive website to showcase Fabio Viviani's personality, educate users about his wines, promote recipes to pair wines with, and bolster the ecommerce aspect of the site, all without preexisting UX research or design.
              <br>
              <br>
              I worked within a team of four: while all four of us created our own distinct designs, we provided daily critique to each other, led weekly meetings and exercises with our client, and conducted usability tests on our designs to ensure we were designing sound UI and UX.
            </p>
            <a href="https://invis.io/829DE6KHT#/205958015_Mobile_Home_Cab_Selection" target="_blank" class="hidden-md hidden-lg">
              <button>VIEW PROTOTYPE</button>
            </a>
            <div class="view-prototypes-desktop">
              <a href="https://invis.io/479DE66NE#/205860909_Home_Cab_Selection" target="_blank" class="hidden-xs hidden-sm">
                <button>VIEW DESKTOP PROTOTYPE</button>
              </a>
              <a href="https://invis.io/829DE6KHT#/205958015_Mobile_Home_Cab_Selection" target="_blank" class="hidden-xs hidden-sm">
                <button>VIEW MOBILE PROTOTYPE</button>
              </a>
            </div>
          </div>
        </div>
        <header id="defining-the-challenge">
          <hr>
          <h2>Defining the Challenge</h2>
          <hr>
        </header>
        <%- include(process.cwd() + '/app/partials/1-col-img', {
          src: '/images/wine/original-homepage.png'
        }) %>
        <div class="image-subtitle">
          Fabio Viviani Wines' original homepage
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In our first meetings, we aimed to <strong>uncover Fabio Viviani Wines' goals for the redesign</strong>. We asked if they wanted to keep any of the existing site design, if they wanted to keep within the style guide they already had, what their brand values were, who their target audience was, and if there were any development constraints to consider.
              <br>
              <br>
              We learned <strong>they wanted a complete redesign</strong>, and that there was no accompanying UX research or design. Our clients sought to <strong>leverage Fabio's celebrity status</strong> and personality to build recognition, using the site to <strong>highlight how to pair the wines</strong>, ideally with Fabio's recipes. Their goal was to have the wines and the recipes coexist in order to turn users into frequent visitors.
              <br>
              <br>
              Before the redesign, their site audience was predominantly women in their mid-forties to mid-sixties; our clients wanted to lower the age of the visitors to those in their mid-twenties to early thirties. They asked us to create <strong>contemporary, accessible designs</strong> that felt rustic, authentic, and modern.
            </p>
          </div>
        </div>
        <header id="exploring-the-wine-and-food-space">
          <hr>
          <h2>
            Exploring the Wine
            <br class="hidden-md hidden-lg">
            & Food Space
          </h2>
          <hr>
        </header>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              After our initial meeting with our clients, we explored nine websites: a combination of ecommerce wine sites, celebrity chefs' websites, and visual inspiration for younger audiences. I gained the most insight from these:
            </p>
          </div>
        </div>
        <!-- competitive analysis description -->
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="carousel sam-image-carousel slide" id="mobile-wine-carousel-1">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="slide-title">Winc</div>
                  <img class="img-responsive" src="/images/wine/carousel/winc.png" />
                  <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                      <div class="slide-content">
                        Winc is an ecommerce wine company that also owns Club W, a monthly wine subscription. The site is clean, friendly, and modern. It boldly pairs a delicate serif with a blocky sans-serif serif, which, in combination with its pale salmon and blue-green palette, appeals to a younger, more feminine audience.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slide-title">Mario Batali</div>
                  <img src="/images/wine/carousel/mario-batali.png" />
                  <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                      <div class="slide-content">
                        Mario Batali is a celebrity chef known for his larger-than-life personality. Like Fabio Viviani, his site showcases his recipes and his personality. Batali's site is bold and dark with a heavy, condensed font. The food is prominently displayed, but when paired with the heavy typography the whole site feels cluttered.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slide-title">Woven Magazine</div>
                  <img src="/images/wine/carousel/woven.png" />
                  <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                      <div class="slide-content">
                        Woven is a magazine known for its soft, “hipster” design. It's full of fun microinteractions and hover states that add to the site's beauty. It pulls the user in with crisp, curated photography, ample use of white space, and small touches that make the site feel chic.
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#mobile-wine-carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#mobile-wine-carousel-1" data-slide-to="1"></li>
                <li data-target="#mobile-wine-carousel-1" data-slide-to="2"></li>
              </ol>
              <a class="left carousel-control" href="#mobile-wine-carousel-1" role="button" data-slide="prev">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-leftcaret-desktop.png">
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mobile-wine-carousel-1" role="button" data-slide="next">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-rightcaret-desktop.png">
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              From our exploration, we learned what worked and what didn't. We decided the redesigns needed to utilize hover states so the site felt inviting, not static. The designs needed to be friendly and accessible in order to encourage repeat visitors and convert first-time users into power users.
              <br>
              <br>
              The most successful sites had crisp, clean photography which immediately pulled the user into the overall experience. We decided our designs needed to lean on photography of the food, wine, and Fabio, using it to balance negative space and content as not to overwhelm the user.
            </p>
          </div>
        </div>
        <header id="exploring-the-existing-site">
          <hr>
          <h2>
            Exploring the
            <br class="hidden-md hidden-lg">
            Existing Site
          </h2>
          <hr>
        </header>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In addition to looking at other sites, I dug into the existing Fabio Viviani Wines site to explore areas that needed the most work. Because no UX research or design was conducted prior, I felt it particularly important to get a feel for the current site to figure out its largest problems.
            </p>
          </div>
        </div>
        <div class="carousel sam-image-carousel hidden-md hidden-lg" id="mobile-wine-carousel-2">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="slide-title">Homepage: Wines</div>
                <img src="/images/wine/carousel/original-site-images/homepage-wines.png" />
            </div>
            <div class="item">
              <div class="slide-title">Homepage: Information</div>
              <img src="/images/wine/carousel/original-site-images/information.png" />
            </div>
            <div class="item">
              <div class="slide-title">Recipes & Pairings</div>
              <img src="/images/wine/carousel/original-site-images/recipes-and-pairings.png" />
            </div>
            <div class="item">
              <div class="slide-title">Shop Wines</div>
              <img src="/images/wine/carousel/original-site-images/shop-wines.png" />
            </div>
            <div class="item">
              <div class="slide-title">Shop Wines: Add to Cart</div>
              <img src="/images/wine/original-wines.png" />
            </div>
            <div class="item">
              <div class="slide-title">Navigation</div>
              <img src="/images/wine/original-nav.png" />
            </div>
          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#mobile-wine-carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#mobile-wine-carousel-2" data-slide-to="1"></li>
            <li data-target="#mobile-wine-carousel-2" data-slide-to="2"></li>
            <li data-target="#mobile-wine-carousel-2" data-slide-to="3"></li>
            <li data-target="#mobile-wine-carousel-2" data-slide-to="4"></li>
            <li data-target="#mobile-wine-carousel-2" data-slide-to="5"></li>
          </ol>
          <a class="left carousel-control" href="#mobile-wine-carousel-2" role="button" data-slide="prev">
            <img class="img-responsive" src="/images/wine/carousel/fvwines-leftcaret-desktop.png">
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#mobile-wine-carousel-2" role="button" data-slide="next">
            <img class="img-responsive" src="/images/wine/carousel/fvwines-rightcaret-desktop.png">
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row non-carousel-row hidden-xs hidden-sm">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="non-slide-container" id="homepage-wines">
              <div class="desktop-non-slide-title">Homepage: Wines</div>
              <img class="img-responsive" src="/images/wine/carousel/original-site-images/homepage-wines.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="bottom" data-content="Sizing throughout the site was off. The header is too tall, he wine bottles overwhelm the page and are hard to read, and there aren’t any hover states to indicate clickability.">
              </div>
            </div>
            <div class="non-slide-container" id="homepage-information">
              <div class="desktop-non-slide-title">Homepage: Information</div>
              <img class="img-responsive" src="/images/wine/carousel/original-site-images/information.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="bottom" data-content="The homepage felt frenetic, hierarchy needed work, and user goals weren’t clear. Our clients wanted the main goals of the site to be wines, recipes, and Fabio. On the homepage, recipes and wines seemed less important than other aspects.">
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <div class="non-slide-container" id="existing-site-navigation">
              <div class="desktop-non-slide-title">Navigation</div>
              <img class="img-responsive" src="/images/wine/original-nav.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="bottom" data-content="Navigation was confusing and unclear. “Shop” produced a drop down that separated “Our Wines” from the kinds of wine FVWines offered, though the reasoning was unclear. Although it said “shop”, there wasn’t a cart, making it unclear whether users could actually purchase wines. “Trade” brought the user to a page for distributors, something that wasn’t clear to users who were on the site to buy wine or view recipes.">
              </div>
            </div>
            <div class="non-slide-container" id="recipes-and-pairings">
              <div class="desktop-non-slide-title">Recipes & Pairings</div>
              <img class="img-responsive" src="/images/wine/carousel/original-site-images/recipes-and-pairings.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="bottom" data-content="It wasn’t clear that the purpose of the site was to find wines and pair them with recipes. On the recipes pages there’s no way to search or filter results, forcing the user to scroll and click on recipes. Furthermore, there's no indication that the recipes pair with specific wines.">
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <div class="non-slide-container" id="shop-wines">
              <div class="desktop-non-slide-title">Shop Wines</div>
              <img class="img-responsive" src="/images/wine/carousel/original-site-images/shop-wines.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="bottom" data-content="The initial wines page felt like a combination between a list and a sales pitch. It didn’t offer much more to the user than listing out the four types of wines Fabio Viviani Wines offers. It was also unclear whether the user could purchase wines online.">
              </div>
            </div>
            <div class="non-slide-container" id="add-to-cart">
              <div class="desktop-non-slide-title">Shop Wines: Add to Cart</div>
              <img class="img-responsive" src="/images/wine/original-wines.png" />
              <div class="info-dot pulse" data-toggle="popover" data-placement="left" data-content="The individual wines pages felt haphazard and was rife with unusual patterns. The “add to cart” button was below the fold and felt secondary to the large images. The cart itself  only appeared once the user added an item; it was sticky and thus obtrusive, on the side instead of at the top, and required multiple clicks to check out.">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Overall, the site lacked hierarchy and guidance.
              <strong>
                Elements felt oversized, user goals were ambiguous, navigation was confusing and complicated.
              </strong>
              It wasn't clear that users could purchase wine on the site, and there were unusual ecommerce patterns including a disappearing cart.
              <br>
              <br>
              Many items were static despite being clickable, and there was no way to easily filter recipes and wines, making the search experience cumbersome.
            </p>
          </div>
        </div>

        <header id="crafting-visual-direction">
          <hr>
          <h2>
            Crafting Visual
            <br class="hidden-md hidden-lg">
            Direction
          </h2>
          <hr>
        </header>
        <div class="sub-header">
          <h3>Design Principles</h3>
          <hr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              In addition to presenting our findings to our clients, we led exercises to further clarify the visual direction of the brand and dig into preferred aesthetics. Based off of the information we gained from the meetings, we then crafted the following three principles to guide our creative processes:
            </p>

          </div>
        </div>
        <div class="row hidden-md hidden-lg">
          <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <!-- Design Principles -->
            <div class="carousel sam-text-carousel slide" id="mobile-wine-carousel-3">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="slide-title">Make it <br> educational & fun</div>
                  <div class="slide-content">
                    Finding the perfect wine shouldn't feel like work, neither should Fabio Viviani Wines' website. Seek to educate users about wines and wine pairing while making it fun.
                  </div>
                </div>
                <div class="item">
                  <div class="slide-title">Be rustic & <br> authentic</div>
                  <div class="slide-content">
                    Fabio is Italian and brings an authentic, rustic atmosphere to his recipes and restaurants. The designs must strive to feel true to Fabio's persona.
                  </div>
                </div>
                <div class="item">
                  <div class="slide-title">Leverage Fabio's <br> expertise & fame</div>
                  <div class="slide-content">
                    Fabio Viviani is a celebrity chef known for his appearances on shows like Top Chef and Good Morning America. Leverage his fame to get new users excited.
                  </div>
                </div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#mobile-wine-carousel-3" data-slide-to="0" class="active"></li>
                <li data-target="#mobile-wine-carousel-3" data-slide-to="1"></li>
                <li data-target="#mobile-wine-carousel-3" data-slide-to="2"></li>
              </ol>
              <a class="left carousel-control" href="#mobile-wine-carousel-3" role="button" data-slide="prev">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-leftcaret-desktop.png">
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mobile-wine-carousel-3" role="button" data-slide="next">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-rightcaret-desktop.png">
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- /Design Principles -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row text-non-slides hidden-xs hidden-sm">
              <div class="col-xs-4">
                <div class="slide-title">Make it <br> educational & fun</div>
                <div class="slide-content">
                  Finding the perfect wine shouldn't feel like work, neither should Fabio Viviani Wines' website. Seek to educate users about wines and wine pairing while making it fun.
                </div>
              </div>
              <div class="col-xs-4">
                <div class="slide-title">Be rustic & <br> authentic</div>
                <div class="slide-content">
                  Fabio is Italian and brings an authentic, rustic atmosphere to his recipes and restaurants. The designs must strive to feel true to Fabio's persona.
                </div>
              </div>
              <div class="col-xs-4">
                <div class="slide-title">Leverage Fabio's <br> expertise & fame</div>
                <div class="slide-content">
                  Fabio Viviani is a celebrity chef known for his appearances on shows like Top Chef and Good Morning America. Leverage his fame to get new users excited.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-header">
          <h3>Style Exploration</h3>
          <hr>
        </div>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              We used our design principles to propel forward into our individual visual explorations. I created three style tiles to fully explore different directions for the design, including color, typography, and UI element displays.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <!-- Style tiles -->
            <div class="carousel sam-image-carousel slide" id="mobile-wine-carousel-4">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active" id="style-tile-rustic">
                  <div class="slide-title">Style Tile: Rustic</div>
                  <img src="/images/wine/style-tile-1.png" />
                  <div class="info-dot pulse" id="rustic-info-dot-1" data-toggle="popover" data-placement="right" data-content="I used a thick serif font to convey richness and warmth, and paired it with a sans-serif for easy readability. I paired the typography with a rich image of nighttime champagne for a feeling of friendship and enjoyment.">
                  </div>
                  <div class="info-dot pulse" id="rustic-info-dot-2" data-toggle="popover" data-placement="top" data-content="I explored hover states as a way to show more information about recipes, bridge the make connection between food and wine, and make the site feel more interactive.">
                  </div>
                  <div class="info-dot pulse" id="rustic-info-dot-3" data-toggle="popover" data-placement="bottom" data-content="I brought in wood grains to evoke a rustic, authentic feeling. I also explored ways to improve the usability on the recipe pages to make cooking more fun and accessible.">
                  </div>
                  <div class="info-dot pulse" id="rustic-info-dot-4" data-toggle="popover" data-placement="left" data-content="I used a rich color palette inspired by velvet and fireplaces to evoke feelings of coziness and family.">
                  </div>
                </div>
                <div class="item" id="style-tile-mediterranean">
                  <div class="slide-title">Style Tile: Mediterranean</div>
                  <img src="/images/wine/style-tile-2.png" />
                  <div class="info-dot pulse" id="med-info-dot-1" data-toggle="popover" data-placement="bottom" data-content="I paired a thin, condensed font with a relaxed script font to evoke breezy feelings of the Mediterranean and, by extension, Fabio.">
                  </div>
                  <div class="info-dot pulse" id="med-info-dot-2" data-toggle="popover" data-placement="top" data-content="I brought in a textured background to remind the user of sand, the beach, and evoke an easy-going feeling.">
                  </div>
                  <div class="info-dot pulse" id="med-info-dot-3" data-toggle="popover" data-placement="left" data-content="I created a light, fun, beachy palette to remind the user of the beach, Italy, Fabio, and enjoyment of the little things in life. ">
                  </div>
                  <div class="info-dot pulse" id="med-info-dot-4" data-toggle="popover" data-placement="right" data-content="In order to educate users in a fun way, I brough in icons of food to easily illustrate what paired best with each wine.">
                  </div>
                </div>
                <div class="item" id="style-tile-friendly">
                  <div class="slide-title">Style Tile: Friendly</div>
                  <img src="/images/wine/style-tile-3.png" />
                  <div class="info-dot pulse" id="friendly-info-dot-1" data-toggle="popover" data-placement="bottom" data-content="I used a thick and bold condensed header with a traditional serif to represent a merging of past and present.">
                  </div>
                  <div class="info-dot pulse" id="friendly-info-dot-2" data-toggle="popover" data-placement="top" data-content="I explored how to show all of the wines while indicating clickability and giving the user a more fun and educational experience.">
                  </div>
                  <div class="info-dot pulse" id="friendly-info-dot-3" data-toggle="popover" data-placement="right" data-content="I designed a palette of bright orange and soft sage to represent sunshine and grapes, alluding to the winemaking process.">
                  </div>
                  <div class="info-dot pulse" id="friendly-info-dot-4" data-toggle="popover" data-placement="bottom" data-content="I used imagery of vineyards and grapes to remind the user of wineries and bring the wines back to their roots.">
                  </div>
                </div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#mobile-wine-carousel-4" data-slide-to="0" class="active"></li>
                <li data-target="#mobile-wine-carousel-4" data-slide-to="1"></li>
                <li data-target="#mobile-wine-carousel-4" data-slide-to="2"></li>
              </ol>
              <a class="left carousel-control" href="#mobile-wine-carousel-4" role="button" data-slide="prev">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-leftcaret-desktop.png">
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mobile-wine-carousel-4" role="button" data-slide="next">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-rightcaret-desktop.png">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              <strong>
                Our clients preferred the “Rustic” style tile,
              </strong>
              and felt the colors and serif header represented Fabio Viviani Wines well. They liked the way the “Friendly” style tile portrayed the wines and how the “Mediterranean” style tiled incorporated icons to show pairings, but said they felt too “Martha Stewarty”.
              <br>
              <br>
              I took their feedback about all the styles and used it to move onto my designs.
            </p>
          </div>
        </div>
        <header id="initial-designs-and-testing">
          <hr>
          <h2>
            Initial Design &
            <br class="hidden-md hidden-lg">
            Usability Testing
          </h2>
          <hr>
        </header>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Because there wasn't any previous UX work, usability testing was particularly important. I focused my initial mockups on the homepage and the wines page, plus worked through changes to the navigation. I tested for usability and desireabilty, and used the feedback to iterate on my designs.
            </p>

          </div>
        </div>
        <img class="img-responsive comments hidden-md hidden-lg" src="/images/wine/initial-design-homepage.png" />
        <img class="img-responsive comments hidden-md hidden-lg" src="/images/wine/initial-design-wines.png" />
        <div class="hidden-sm hidden-xs">
          <div class="initial-designs">
            <div class="non-slide-container" id="initial-design-1">
              <img class="img-responsive" src="/images/wine/initial-design-1.png" />
              <div class="info-dot pulse" id="init-design-info-dot-1" data-toggle="popover" data-placement="bottom" data-content="Users were confused about the header content paired with the hero photo and asked 'Where are the friends?'. They wanted to meet Fabio from the beginning, and they asked for a call to action button to immediately direct and welcome them.">
              </div>
              <div class="info-dot pulse" id="init-design-info-dot-2" data-toggle="popover" data-placement="bottom" data-content="Differing from our clients, users as a whole didn't like the wood grain background. They felt it distracted from the elements and made the site feel too rustic and old.">
              </div>
              <div class="info-dot pulse" id="init-design-info-dot-3" data-toggle="popover" data-placement="bottom" data-content="Users found these sections cramped and unrelated to the image on the right. they felt like the placement gave too much importance to these sections.">
              </div>
              <div class="info-dot pulse" id="init-design-info-dot-4" data-toggle="popover" data-placement="bottom" data-content="Users responded positively to the idea of having a 'Featured Pairing' section that incorporated Fabio's recipes and wines.">
              </div>
            </div>
            <div class="non-slide-container" id="initial-design-2">
              <img class="img-responsive" src="/images/wine/initial-design-2.png" />
              <div class="info-dot pulse" id="init-design-info-dot-5" data-toggle="popover" data-placement="bottom" data-content="Users felt that the blue didn't fit with the design and that it was hard to read.">
              </div>
              <div class="info-dot pulse" id="init-design-info-dot-6" data-toggle="popover" data-placement="bottom" data-content="Users felt the language 'Pairings' didn't make sense, and thought that 'Wines' would be clearer. They wanted this section to introduce all the wines in the collection and then lead to individual wines.">
              </div>
              <div class="info-dot pulse" id="init-design-info-dot-7" data-toggle="popover" data-placement="bottom" data-content="Users felt these items at the bottom were unnecessary and took away from focus on the wines. They also felt that this background made the page feel dated.">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Overall, users felt like the designs felt old and busy due to the backgrounds. The designs felt too rustic, and didn't highlight Fabio enough from the get-go. Users expressed confusion about the naming of the pairings page, and wanted the homepage to focus more on the wines and recipes.
            </p>
          </div>
        </div>
        <header id="final-designs">
          <hr>
          <h2>Final Designs</h2>
          <hr>
        </header>
        <div class="row p-row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              I took the feedback from the usability testing and from client meetings and created two more iterations before I came to my final responsive designs. I sought to keep the site authentic and rustic, while also appealing to people in their twenties and thirties.
              <br>
              <br>
              As per the client's needs and goals, I redesigned the most important pages: the navigation and header, the homepage, the wines flow, the recipes flow, the “About Fabio” page, and the press kit page for distributors.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/desktop-homepage-comp.png" />
              </div>
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/mobile-homepage-comp.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              During our second-to-last client meeting, our clients mentioned that there were four wines in Fabio Viviani Wines' collection because collectively, they paired well with every kind of food. I redesigned my homepage design to reflect this, and gamified experience.
              <br>
              <br>
              Due to feedback I received in the usability tests, I made changes to the hero image and copy, added a call to action button above the fold, and adjusted the layout of the page to reflect the importance of wines, recipes, and Fabio.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/desktop-wine-selector-comp.png" />
              </div>
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/mobile-wine-selector-comp.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              I changed this page to “Wines”, and focused on bringing the user to more information about the wines. For users new to wine, I designed a filter that chose a wine for them. Users select what kind of food they want to eat, what kind of notes they like (sweet, full, hearty, etc), and whether they prefer red or white, and the filter chooses a wine for them. I also made it possible to hover and click on a wine, for users who knew what they wanted.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/desktop-wine-item.png" />
              </div>
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/mobile-wine-item.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              I redesigned this page to showcase the wine and guide the user to purchase. I designed this page for two types of users: shoppers who are interested in learning more about the wine and what it pairs with, or those looking to purchase online. In my design, I sought to make it easy to do both.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/desktop-recipes.png" />
              </div>
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/mobile-recipes.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              In order to create a more immersive experience, excite the user, and make the recipes feel authentic, I designed carousels of larger images of the food, organized by type. I designed a filter for users to narrow output by type of food or wine pairing, further connecting the wines with the recipes.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/desktop-recipe-item.png" />
              </div>
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/mobile-recipe-item.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              I redesigned the individual recipe pages to showcase the recipe and make it easy for the user to cook from the site. I segmented the ingredients and the cooking steps, and added checkmarks for users to check off their prgress along the way. At the end I included an option to jump to the wine pairing, thus connecting the wines and the recipes.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/wine-nav.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p class="shave-the-p">
              Through testing feedback and researching navigation patterns, I redesigned the naviagtion in order to clearly show the site's goals and highlight the fact that users can buy wine. On the main header, I changed “Shop” to “Wines” and designed multiple level drop down to give the user the information they needed in smaller chunks.
              <br>
              <br>
              I changed my initial blue to a more contemporary taupe, which paired well with the navigation's soft black and eggplant. I moved the cart to be permanently in the navigation to make it clear that wines can be purchased; I also added a log in to increase sales and encourage users to return. I also moved the “trade” section to the footer and renamed it “press kit”, as that is a more commonly used name and placement.
            </p>
          </div>
        </div>
        <a href="https://invis.io/829DE6KHT#/205958015_Mobile_Home_Cab_Selection" target="_blank" class="hidden-md hidden-lg">
          <button>VIEW PROTOTYPE</button>
        </a>
        <div class="view-prototypes-desktop">
          <a href="https://invis.io/479DE66NE#/205860909_Home_Cab_Selection" target="_blank" class="hidden-xs hidden-sm">
            <button>VIEW DESKTOP PROTOTYPE</button>
          </a>
          <a href="https://invis.io/829DE6KHT#/205958015_Mobile_Home_Cab_Selection" target="_blank" class="hidden-xs hidden-sm">
            <button>VIEW MOBILE PROTOTYPE</button>
          </a>
        </div>
        <header id="style-guide">
          <hr>
          <h2>Style Guide</h2>
          <hr>
        </header>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              For the future of Fabio Viviani Wines I created a style guide that was applicable to both future designs and development. I outlined my design treatments to create an overall design language, which included colors, photography treatment, UI elements, and design patterns.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="desktop-and-mobile-comps">
              <div class="img-container">
                <img class="img-responsive" src="/images/wine/fvwines-style-guide.png" />
              </div>
            </div>
          </div>
        </div>
        <header>
          <hr>
          <h2>Future Considerations</h2>
          <hr>
        </header>
        <div class="row hidden-md hidden-lg">
          <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <div class="carousel sam-image-carousel slide" id="mobile-wine-carousel-5" data-ride="carousel" data-interval="3000">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/wine/carousel/future-considerations/1.png" />
                </div>
                <div class="item">
                  <img src="/images/wine/carousel/future-considerations/2.png" />
                </div>
                <div class="item">
                  <img src="/images/wine/carousel/future-considerations/3.png" />
                </div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#mobile-wine-carousel-5" data-slide-to="0" class="active"></li>
                <li data-target="#mobile-wine-carousel-5" data-slide-to="1"></li>
                <li data-target="#mobile-wine-carousel-5" data-slide-to="2"></li>
              </ol>
              <a class="left carousel-control" href="#mobile-wine-carousel-5" role="button" data-slide="prev">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-leftcaret-desktop.png">
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#mobile-wine-carousel-5" role="button" data-slide="next">
                <img class="img-responsive" src="/images/wine/carousel/fvwines-rightcaret-desktop.png">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="row hidden-xs hidden-sm big-m">
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/wine/carousel/future-considerations/1.png" />
              </div>
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/wine/carousel/future-considerations/2.png" />
              </div>
              <div class="col-xs-4">
                <img class="img-responsive" src="/images/wine/carousel/future-considerations/3.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Because I only had three weeks on this project and there was no formal UX design, there's still work to be done on this site. More testing needs to be conducted to ensure that the navigation and flow are fully usable and intuitive. The checkout and purchase flow needs to be designed, as well as the remaining pages of the site, including more wines, recipes, and news articles.
              <br>
              <br>
              Throughout my process I worked to develop a design language to translate my designs across new screens. I extensively detailed the patterns I created, making it easy for future designers to come forth and continue the work I started.
            </p>
          </div>
        </div>
        <header id="conclusion">
          <hr>
          <h2>Conclusion</h2>
          <hr>
        </header>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
              Ultimately, I was happy with the work I produced. It was difficult working without previous UX contributions, and I had to juggle the needs of UX while creating a visually pleasing language. That said, I found it incredibly rewarding to be able to dig into the UX while also working on the UI. It was fun to be able to create a site experience that was both beautiful and more user-friendly.
              <br>
              <br>
              I learned how to create navigations and flows that created an experience for users, and I gamified aspects of the site to encourage user involvement. I used my designs to solve problems I found in the existing site, including unclear navigation, haphazard hierarchy, lack of user guidance, and an overall static feeling site.
              <br>
              <br>
              I redesigned the site with the goals of turning new users into repeat users, highlighting the ecommerce aspect of the site to make it easier for users to purchase the wines online, and increasing time spent on the site. My design choices improve future users' experience and help my client convert users and help Fabio Viviani Wines gain a more fruitful following.
              <br>
              <br>
              I thrived on the feedback I recieved during the weekly meetings with my clients and the multiple rounds of usability testing, and learned how to ask more pointed questions to get the feedback I needed to evolve my designs. The regular critique and feedback I recieved made me more confident in my design decisions and helped me take my designs to the next level, setting me up for my final client project, Spore.
            </p>
          </div>
        </div>
        <header>
          <hr>
          <h2>Check Out Others</h2>
          <hr>
        </header>
        <div class="big-m">
          <%- include(process.cwd() + '/app/partials/portfolio-link-grid', {
            order: ['capitalone', 'spore', 'ubergo']
          }) %>
        </div>
        </div>
      </section>
      <footer class="container">
        &copy; 2017 Samantha King 2017 &bull; <a href="http://www.linkedin.com/in/hellosamking">LinkedIn</a> &bull; <a href="mailto:hellosamking@gmail.com">hellosamking@gmail.com</a>
      </footer>
    </main>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-89985795-1');ga('send','pageview');
    </script>

    <!-- build:js /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js /scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
